footer.footer
    .footer__copyright &copy; 2019 Cem Derin
    .footer__license
        a(href=baseDir + "license.md") Released under MIT License
    .footer__edit
        a.footer__edit-link(href="https://github.com/hypress/hypress.github.io/tree/master/src/markdown" + srcPath) Edit this page