header.header
    .header__inner
        a(href="/")
            h1.header__logo hypress

        button.header__toogle(data-toggle-target="\[data-main-nav\]") Menu

        nav.header__nav(data-main-nav data-toggle-class="header__nav--open")
            ul
                // li
                    a(href="/guides/getting-started.html") Getting Started
                // li
                    a(href="/guides/index.html") Guides
                // li
                    a(href="/guides/components.html") Components
                // li
                    a(href="/guides/documentation.html") Documentation
