extends pug/document/document

block content
    header.interim-page-header
        h1.interim-page-header__logo hypress.io
        h2.interim-page-header__lead A modern WordPress development toolchain
        p.interim-page-header__intro The one stop shop for WordPress development needs

    main.interim-page-main
        p
            a(href="https://github.com/hypress") View project on github →

    footer.interim-page-footer
        a(href="https://cemderin.com") &copy; 2019 Cem Derin