@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600700,800,900&display=swap');

html {
  font-family: "Montserrat";
  // background-image: linear-gradient(225deg, #460B69 0%, #7F369B 100%);
  //  background-image: linear-gradient(225deg, #460B69 0%, #7F369B 100%);
  width:100%;
  height:100%;
  color: #fff;
}

body {
  padding:16px;
  background-image: linear-gradient(225deg, #460B69 0%, #7F369B 100%);
  display:flex;
  flex-direction: column;
  height:100%;
  box-sizing: border-box;
}